@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap");

.projectIdeaMainSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-image: url("../componentes/Asset\ 16.png"),
    url("../componentes/Asset\ 17.png");
  background-blend-mode: hard-light;
  background-repeat: repeat;
}
.projectIdeaMainSec h4 {
  color: rgba(248, 172, 0, 0.8549019607843137);
}
.projectIdeaMainSec h3 {
  color: white;
}
.projectIdeaLinks {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.projectIdeaInsideLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.projectIdeaInsideLinks a {
  margin: 10px;
  background: repeating-radial-gradient(
    rgb(251, 184, 0),
    rgb(248, 172, 0),
    rgb(253, 196, 0),
    rgb(253, 198, 0)
  );
}
.projectIdeaLinks a {
  text-decoration: none;
  text-align: center;
  width: 250px;
  height: fit-content;
  font-weight: 900;
  font-size: 20px;
  padding: 10px 0 10px 0;
  color: black;
  border-radius: 45px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.projectIdeaLinks .backToHomePageFromProjectIdea {
  color: white;
  font-weight: 900;
  width: 300px;
  height: fit-content;
  margin: 10px;
  background-color: rgb(26, 54, 26);
}
.ideaText {
  background-color: white;
  text-align: justify;
  width: 70%;
  border-radius: 35px;
  padding: 0 100px 0 100px;
  font-size: 24px;
  margin-bottom: 20px;
}
.ideaText .Openning {
  margin: 0;
}
.ideaText h1 {
  text-align: center;
}
.ideaText .Openning2 {
  margin: 0;
  padding: 20px;
}
.ideaText .ideaText_p1 {
  text-align: right;
  line-height: 1.7;
  font-weight: 100;
}
.ideaText .IdeaMainPlan {
  text-align: right;
  margin: 5px;
}
.ideaText h3 {
  text-align: right;

  margin: 1px;
}
.ideaText h4 {
  text-align: right;
  color: black;
  margin: 1px;
  font-weight: 900;
}
.Sectiontext {
  text-align: right;
  padding: 0px;
  line-height: 1;
}
.Liprop {
  list-style-type: circle;
  line-height: 1.4;
}
.Liprop1 {
  list-style-type: disc;
}
.endText {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.endText p {
  margin: 0;
}
