html,
body {
  padding: 0;
  margin: 0;
  font-size: 34px;
  direction: rtl;
  scroll-behavior: smooth;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-image: url("./componentes/pW9ELc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.projectTitle {
  font-size: 1.5rem;
  padding: 20px;
}
.selectSection {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}
.selectSection a {
  text-decoration: none;
  color: inherit;
  margin: 30px;
  padding: 20px;
  display: inline-block;
  border: none;
  border-radius: 5px;
  background-color: rgb(51, 168, 139);
}
.selectSection a:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
