@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap");
html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-size: 34px;
  direction: rtl;
  scroll-behavior: smooth;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-image: url("./componentes/Asset\ 16.png"),
    url("./componentes/Asset\ 17.png");
  background-blend-mode: hard-light;
  background-repeat: repeat;
}
.toptext h4 {
  color: rgba(248, 172, 0, 0.8549019607843137);
}
.toptext h3 {
  color: white;
  font-size: 1.8rem;
}
.toptext {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
.projectTitle {
  padding: 10px;
  margin: 0;
}
.selectSection {
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.selectSection a {
  text-decoration: none;
  font-size: 34px;
  font-weight: 600;
  color: inherit;
  margin: 30px;
  padding: 10px 15px 15px 10px;
  text-align: center;

  display: inline-block;
  border: none;
  border-radius: 45px;
  background: repeating-radial-gradient(
    rgb(251, 184, 0),
    rgb(248, 172, 0),
    rgb(253, 196, 0),
    rgb(253, 198, 0)
  );
}
.selectSection a:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
#imageHomepage {
  position: relative;
  object-fit: cover;
  bottom: 0;
  min-height: 400px;
}
.selectSection i {
  font-size: 34px;
  margin-left: 5px;
}
@media only screen and (max-width: 770px) {

  .toptext h3 {

    font-size: 1.3rem;
  }
  .toptext {
   
    margin-top: 2px;
  }
  .selectSection{
    flex-direction: column;
    width: 100%;
  }
  .selectSection a {
  width: 80%;
  }
  #imageHomepage {
   
 
    min-height: auto;
  }
}
@media only screen and (max-width: 1025px) {
  .selectSection a {
    font-size: 28px;
    }

}